<div id="editor">
	<div class="editor-pane clearfix">
		<div class="left-pane">
			<div>
				<a href="#" class="editor-new-group button dark"><i class="icon-plus-sign-alt"></i>New Group</a>
				<a href="#" class="editor-save-spriter button green"><i class="icon-save"></i>Save</a>
				<a href="#" class="editor-export-spriter button blue"><i class="icon-mail-forward"></i>Export</a>
			</div>
			<br/>
			<p class="section-label">Tools</p>
			<div class="tools-container">
			</div>
			<p class="section-label">Options</p>
			<div class="tool-options">
			</div>
		</div>
		<div class="right-pane">
			<div class="image-holder">
				<div class="pointer"></div>
				<canvas class="image-canvas"></canvas>
				<img />
			</div>
			<div class="blank">
				<p class="lead">Load a Spritesheet To Begin</p>
				<p class="lead"><a href="#" class="editor-load-spritesheet btn btn-lg btn-default">Load Spritesheet</a></p>
			</div>
		</div>
	</div>
	<div class="status-bar">
		<table>
			<tr>
				<td class="left-side"></td>
				<td class="right-side"></td>
			</tr>
		</table>
	</div>
</div>