<div id="start-page">
	<h1 class="cover-heading">Create a new file to begin!</h1>
	<p class="lead">Spriter is an easy to use tool for managing sprite metadata and exporting it in useful formats.</p>
	<p class="lead">
		<a href="#" class="btn btn-lg btn-default" id="sp-newSpriter">Make a New Spriter File</a>
	</p>
	<p class="lead">
		<a href="#" class="btn btn-lg btn-default" id="sp-openSpriter">Open a Previous Spriter</a>
	</p>
	<p class="lead">Recent Spriters:</p>
	<p class="lead">
		<ul class="nav">
			<li><a href="#">sample.sprtr</a></li>
		</ul>
	</p>
</div>