//colors
$softBlue: rgba(150, 150, 255, .4);
$deepSoftBlue: rgba(150, 150, 255, 1);
$weirdBlue: rgba(150, 150, 255, .8);
$highlightGreen: rgba(150, 255, 150, 1);
$softGreen: rgba(150, 255, 150, .3);
$softRed: rgba(255, 200, 200, .7);
$lightPink: rgba(255, 200, 200, .4);
$lightGreen: rgba(200, 255, 200, .8);
$dark: #111;
$lightGray: #ccc;
$mediumGray: #aaa;
$offWhite: #fafafa;
$darkAccent: #222;
$mediumDarkGray: #444;
$white: #fff;
$red: #f00;
$veryMediumGrey: #999999;
$black: #000;

//@extend-elements
//original selectors
//#editor .group-box,  #editor .sprite-box,  #editor .selection
%selection-base {
	background: $softBlue;
	min-width: 1px;
	min-height: 1px;
	
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	border: 1px solid $deepSoftBlue;
}

#editor {
	position: relative;
	height: 100%;

	.group-box {
		@extend %selection-base;
		border-color: $highlightGreen;
		background: $softGreen;
	}

	.sprite-box {
		@extend %selection-base;
		border-color: $softRed;
		background: $lightPink;
		&.focused {
			background: $lightGreen;
		}
	}

	.selection {
		@extend %selection-base;
		.selection-sub-select {
			z-index: 101;
			border: 1px dashed $weirdBlue;
			
			box-sizing: border-box;
			top: 0;
			left: 0;
			position: absolute;
		}
	}

	.left-pane {
		box-sizing: border-box;
		float: left;
		width: 15%;
		background: $dark;
		min-height: 850px;
		height: 100%;
		.section-label {
			margin: 15px 0 10px;
			font-size: 14px;
			font-weight: bold;
		}
	}

	.right-pane {
		box-sizing: border-box;
		float: left;
		width: 85%;
		background: #CCC;
		min-height: 850px;
		overflow: auto;
		position: relative;
		height: 100%;
	}

	.blank {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.status-bar {
		table {
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.left-side {
		}
		.right-side {
		}
	}

	.tool-options {
		padding: 5px 10px;
		table {
			width: 100%;
		}
		input {
			color: #FAFAFA;
			border: 1px solid $darkAccent;
			background: $mediumDarkGray;
			padding: 5px;
			width: 100%;
			text-align: center;
			display: block;
		}
		.mover {
			td a {
				display: inline;
			}
			input.mover-amount {
				width: 36px;
				display: inline;
				margin-right: 5px;
			}
		}
		select {
			color: $black;
		}
	}

	.editor-pane {
		height: 100%;
	}

	canvas {
		display: block;
		image-rendering: optimize-contrast;
	}

	.pointer {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #FFF;
		background: #F00;
		width: 1px;
		height: 1px;
		
		box-sizing: border-box;
	}

	.image-holder img {
		border-left: 1px dashed $mediumGray;
		border-right: 1px dashed $mediumGray;
		position: absolute;
		top: 0;
		left: 0;
	}

	.tools-container a {
		display: inline-block;
		margin: 0 5px;
		&.disabled {
			cursor: default;
			opacity: 0.4;
		}
	}

	.selected-sprites-container .currently-selected-sprites {
		list-style-type: none;
		padding: 0;
		li {
			padding: 5px 15px;
			background: $veryMediumGrey;
			margin: 2px 0;
		}
	}

	.editor-tabs {
		list-style-type: none;
		padding: 0;
		
		li {
			margin: 0;
			display: inline-block;
			width: 49%;
			background: $darkAccent;
			color: $offWhite;
			padding: 10px 15px;

			box-sizing: border-box;
			border: 0;
			
			&.selected {
				background: #555;
			}
		}
	}
}

.tab-views {
	height: 100%;
}

.tab-views>div {
	height: 100%;
}

#view {
	height: 100%;
}

.mover {
	width: 100%;
	border-collapse: collapse;
	.title {
		font-weight: bold;
		text-align: center;
		display: block;
	}
	td {
		width: 30%;
		vertical-align: middle;
		height: 50px;
	}
}