ul.element-selector {
	list-style-type: none;
	
	margin: 0;
	padding: 0;
	
	width: 100%;
	
	max-height: 200px;
	overflow-y: auto;
	
	li {
		padding: 10px 15px;
		background: #222;
		color: #FAFAFA;
		cursor: pointer;
		
		&.selected {
			background: #555;
		}
	}
}

.bulk-mover {
	.mover {
		width: 100%;
		border-collapse: collapse;
		
		input, select {
			color: #222;
		}
		
		.title {
			font-weight: bold;
			text-align: center;
			display: block;
		}
		td {
			width: 30%;
			vertical-align: middle;
			height: 50px;
		}
		.mover-amount {
			width: 40px;
		}
	}
}